!!! 5
%html{:lang=>(attr :lang, 'en')}
  %head
    %meta(charset="#{attr :encoding, 'UTF-8'}")
    /[if IE]
      %meta(http-equiv="X-UA-Compatible" content="IE=edge")
    %meta(name='viewport' content='width=device-width, initial-scale=1.0')
    - { 'app-name'=>'application-name', 'description'=>nil, 'keywords'=>nil, 'authors'=>'author', 'copyright'=>nil }.each do |key, meta|
      - if attr? key
        %meta{:name=>(meta || key), :content=>(attr key)}
    %title=((doctitle :sanitize => true) || (attr 'untitled-label'))
    %link(rel='stylesheet'){:href=>'/style.css'}
    - case attr 'source-highlighter'
    - when 'coderay'
      - if (attr 'coderay-css', 'class') == 'class'
        - if @safe >= Asciidoctor::SafeMode::SECURE || (attr? :linkcss)
          %link(rel='stylesheet'){:href=>normalize_web_path('asciidoctor-coderay.css', (attr :stylesdir, ''))}
        - else
          %style=Asciidoctor::Stylesheets.instance.coderay_stylesheet_data
    - when 'pygments'
      - if (attr 'pygments-css', 'class') == 'class'
        - if @safe >= Asciidoctor::SafeMode::SECURE || (attr? :linkcss)
          %link(rel='stylesheet'){:href=>normalize_web_path('asciidoctor-pygments.css', (attr :stylesdir, ''))}
        - else
          %style=Asciidoctor::Stylesheets.instance.pygments_stylesheet_data(attr 'pygments-style')
    - when 'highlightjs'
      %link(rel='stylesheet' href="#{attr :highlightjsdir, '//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4'}/styles/#{attr 'highlightjs-theme', 'googlecode'}.min.css")
      %script(src="#{attr :highlightjsdir, '//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4'}/highlight.min.js")
      %script hljs.initHighlightingOnLoad()
    - if attr? 'stem'
      %script(type='text/x-mathjax-config')
        :plain
          MathJax.Hub.Config({
            tex2jax: {
              inlineMath: [['\\(','\\)']],
              displayMath: [['\\[','\\]']],
              ignoreClass: 'nostem|nolatexmath'
            },
            asciimath2jax: {
              delimiters: [['\\$','\\$']],
              ignoreClass: 'nostem|noasciimath'
            }
          });
      %script(type='text/javascript' src='http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_HTMLorMML')
    - unless (docinfo_content = docinfo).empty?
      =docinfo_content
  %body{:id => @id, :class=>[doctype, ((attr? 'toc-class') && (attr? :toc) && (attr? 'toc-placement', 'auto') ? "#{attr 'toc-class'} toc-#{attr 'toc-position', 'left'}" : nil)], :style=>("max-width: #{attr 'max-width'};" if (attr? 'max-width'))}
    %div{:id => 'content', :class => ['container']}
      %ul{:id => 'header', :class => ['row'], :style => 'margin: 30px 0;'}
        %div{:class => ['six', 'columns']}
          %li
            %a(href = 'https://rbg.systems/docs.html')Documentation
          %li
            %a(href = 'https://rbg.systems/blog')Blog
          %li
            %a(href = 'https://gitlab.com/robigalia')Source code
        %div{:class => ['six', 'columns']}
          %li
            %a(href = 'https://rbg.systems/security.html')Security Policy
          %li
            %a(href = 'https://sel4.systems/')seL4 Website
          %li
            %a(href = 'https://rbg.systems/conduct.html')Code of Conduct
          %li
            %a(href = 'https://rbg.systems/contact.html')Contact Us
      - unless noheader
        -# AsciiDoc leaves an empty header div even if there's no doctitle
        #header
          - if has_header?
            - unless notitle
              %h1=@header.title
            - if (attr? :author) || (attr? :revnumber) || (attr? :revdate) || (attr? :revremark)
              .details
                - if attr? :author
                  %span#author.author=attr :author
                  %br
                  - if attr? :email
                    %span#email.email=sub_macros(attr :email)
                    %br
                  - if (authorcount = (attr :authorcount).to_i) > 1
                    - (2..authorcount).each do |idx|
                      %span{:id=>"author#{idx}", :class=>"author"}=(attr "author_#{idx}")
                      %br
                      - if attr? "email_#{idx}"
                        %span{:id=>"email#{idx}", :class=>"email"}= sub_macros(attr "email_#{idx}")
                - if attr? :revnumber
                  %span#revnumber #{((attr 'version-label') || '').downcase} #{attr :revnumber}#{',' if (attr? :revdate)}
                - if attr? :revdate
                  %span#revdate=attr :revdate
                - if attr? :revremark
                  %br
                  %span#revremark=attr :revremark
          - if (attr? :toc) && (attr? 'toc-placement', 'auto')
            #toc{:class=>(attr 'toc-class', 'toc')}
              #toctitle=attr 'toc-title'
              =converter.convert self, 'outline'
      #content
        =content
      - unless !footnotes? || attr?(:nofootnotes)
        #footnotes
          %hr
          - footnotes.each do |fn|
            .footnote{:id=>['_footnote', fn.index]}
              = succeed ". #{fn.text}" do
                %a(href="#_footnoteref_#{fn.index}")=fn.index
      - unless nofooter
        #footer
          #footer-text
            - if attr? :revnumber
              = precede %(#{attr 'version-label'} #{attr :revnumber}) do
                - if attr? 'last-update-label'
                  %br
            - if attr? 'last-update-label'
              #{attr 'last-update-label'} #{attr :localdatetime}
          - unless (docinfo_content = (docinfo :footer)).empty?
            =docinfo_content
          %a(href='https://rbg.systems/privacy.html')Privacy Policy
          %a(href='https://gitlab.com/robigalia/meta')Source for this site
