<link href="/style.css" rel="stylesheet">
<div id="content" class="container">
  <ul id="header" class="row" style="margin: 30px 0;">
    <div class="six columns">
      <li><a href="https://rbg.systems/docs.html">Documentation</a></li>
      <li><a href="https://doc.rbg.systems/">API Documentation</a></li>
      <li><a href="https://gitlab.com/robigalia">GitLab group/source code</a></li>
    </div>
    <div class="six columns">
      <li><a href="https://rbg.systems/security.html">Security Policy</a></li>
    </div>
    <div class="six columns">
      <li><a href="https://sel4.systems">seL4 Website</a></li>
      <li><a href="https://rbg.systems/conduct.html">Code of Conduct</a></li>
      <li><a href="https://rbg.systems/contact.html">Contact Us</a></li>
    </div>
  </ul>
